/* 
    основной цвет текста #757575
    вторичный цвет текста #212121
    акцент #2196F3 
    основной цвет логотипа #000000
    основной бекграунд #FFFFFF
    вторичный бекграунд #F5F4FA
    бекграунд акцент #2F303A 
    специальный цвет некоторых елементов текста  rgba(255, 255, 255, 0.6)
*/
:root {
  --card-set-gap: 30px;
  --card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --main-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --logo-main-color: #000000;
  --white-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --accent-background-color: #2f303a;
  --hero-background-color: #c4c4c4;
  --special-footer-text-color: rgba(255, 255, 255, 0.6);
}
body {
  background-color: var(--white-color);
  color: var(--main-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*CONTAINERS*/

.container {
  margin: 0 auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /*outline: 1px solid red;*/
}

/*HEADER*/
.header-section {
  border-bottom: 1px solid #ececec;
}
.flex-header {
  display: flex;
  align-items: center;
}
.flex-site-nav {
  display: flex;
}
.navigation {
  display: flex;
  align-items: center;
}
.site-nav .link,
.header-contacts .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.site-nav .list-item:not(:last-child) {
  margin-right: 50px;
}
.header-contacts {
  display: flex;
  margin-left: auto;
}
.header-contacts .header-list-item + .header-list-item {
  margin-left: 50px;
}

/* LOGO */

.logo {
  color: var(--logo-main-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.header-logo {
  margin-right: 93px;
}
.footer-logo {
  display: block;
  margin-bottom: 20px;

  color: var(--white-color);
}
.logo-accent {
  color: var(--accent-color);
}

/* LIST SETTINGS */

.list {
  list-style: none;
}

/* LINK SETTINGS */

.link {
  text-decoration: none;
}

/* BUTTONS SETTINGS */

.btn-primary {
  color: var(--white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  border: none;
}
.btn-secondary {
  border: 1px solid transparent;

  color: var(--secondary-text-color);
  background-color: var(--secondary-background-color);
  cursor: pointer;
}

/* SITE NAV */

.site-nav .link {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}

/* HERO */

.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 200px 0;

  background-color: var(--hero-background-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/bg-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-title {
  margin-bottom: 30px;
  max-width: 696px;

  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-button {
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
  min-width: 200px;
  text-align: center;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}
.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
}

/* CONTACTS */

.contacts-header {
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contacts-header:hover,
.contacts-header:focus {
  color: var(--accent-color);
}
.contacts-footer {
  color: var(--special-footer-text-color);
  letter-spacing: 0.02em;
}
.contacts-footer:hover,
.contacts-footer:focus {
  color: var(--accent-color);
}
.footer-contacts-fonts {
  font-size: 14px;
  line-height: 1.7;
}
.office-adress {
  color: var(--white-color);
}
.office-adress:hover,
.office-adress:focus {
  color: var(--accent-color);
}
/* SECTION */

.section {
  padding: 0;
  margin: 0;
  padding-top: 94px;
  padding-bottom: 94px;
}
.paculiarities-section {
  padding-bottom: 0;
}
.section-title {
  text-align: center;

  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}
.list-title {
  margin: 0 auto;

  color: var(--secondary-text-color);
}
.paculiarities-list {
  display: flex;
  justify-content: center;
}
.paculiarities-item {
  width: 270px;
}
.paculiarities-item:not(:last-child) {
  margin-right: 30px;
}
.paculiarities-item::before {
  content: '';
  display: block;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.pacu-icon-1::before {
  background-image: url(../images/pacu-icon-1.svg);
}
.pacu-icon-2::before {
  background-image: url(../images/pacu-icon-2.svg);
}
.pacu-icon-3::before {
  background-image: url(../images/pacu-icon-3.svg);
}
.pacu-icon-4::before {
  background-image: url(../images/pacu-icon-4.svg);
}
.paculiarities-title {
  margin-bottom: 10px;
  text-align: start;

  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}
.paculiarities-text {
  line-height: 1.7;
}
.our-focus-title {
  margin-bottom: 50px;
}
.our-focus-list {
  display: flex;
}
.our-focus-item:not(:last-child) {
  margin-right: 30px;
}
.team-section {
  background-color: var(--secondary-background-color);
}
.team-list {
  display: flex;
  margin-top: 50px;

  /*filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));*/
}
.team-card-discription {
  display: flex;
  flex-direction: column;
  width: 270px;
  padding-bottom: 30px;
  padding-top: 30px;

  /*box-shadow: var(--card-shadow);*/
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white-color);
}
.team-card:not(:last-child) {
  margin-right: 30px;
}
.teammember {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.profession {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.19;
}
.project-card-discription {
  width: 370px;
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}
.portfolio-title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-flex-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--card-set-gap));
  margin-left: calc(-1 * var(--card-set-gap));
}
.portfolio-list-item {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-top: var(--card-set-gap);
  margin-left: var(--card-set-gap);
}
.work-type {
  color: var(--main-text-color);
  font-size: 16px;
  line-height: 1.87;
}
.team {
  background-color: var(--secondary-background-color);
}

/* FOOTER */

.footer-section {
  background-color: var(--accent-background-color);
}
.footer-section {
  padding: 60px 0;
}
.footer-section .link {
  font-style: normal;
}
.flex-adress {
  display: flex;
  flex-direction: column;
}
.flex-adress-item:not(:last-child) {
  margin-bottom: 9px;
}
/* FILTER */

.list-button {
  border-radius: 4px;
  padding: 6px 22px;
  text-align: center;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}
.list-button:hover,
.list-button:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}
.flex-filter {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}
.flex-filter-button:not(:last-child) {
  margin-right: 8px;
}
